.app {
  height: 100vh;
  background: #667db6; /* fallback for old browsers */
  background: -webkit-linear-gradient(
    to right,
    #667db6,
    #0082c8,
    #0082c8,
    #667db6
  ); /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(
    to right,
    #667db6,
    #0082c8,
    #0082c8,
    #667db6
  ); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
  -ms-overflow-style: none; /* IE and Edge */
  scrollbar-width: none; /* Firefox */
  overflow: hidden;
}

.app::-webkit-scrollbar {
  display: none;
}

.app__titleContainer {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
}

.app__title {
  color: white;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  color: white;
}
